<div class="row mt-5 mb-5">
  <div class="col-12 text-center">
      <h2>Ajout d'un partenaire</h2>
  </div>
</div>

<div class="row">
  <form class="col-8 offset-2" [formGroup]="partnerForm" (ngSubmit)="onSubmitFormPartner()">
      <div class="row d-flex flex-column">
          <div class="input-field d-flex flex-row mb">
            <div class="input-field col-6">
              <label for="usernamePartner">Identifiant de connexion</label>
              <input required type="text" class="validate" id="usernamePartner" formControlName="usernamePartner">
              <!-- <div class="messageError">
                  <sup>*</sup>Champ obligatoire
              </div> -->
            </div>
            <div class="input-field col-6">
              <label for="password">Mot de passe</label>
              <input required type="text" class="validate" id="password" formControlName="password">
              <!-- <div class="messageError">
                  <sup>*</sup>Champ obligatoire
              </div> -->
            </div>
          </div>

          <div class="input-field d-flex flex-row mb">
            <div class="input-field col-6">
              <label for="namePartner">Nom du garage</label>
              <input required type="text" class="validate" id="namePartner" formControlName="namePartner">
              <!-- <div class="messageError">
                <sup>*</sup>Champ obligatoire
              </div> -->
            </div>
            <div class="input-field col-6">
              <label for="addressPartner">Adresse du garage</label>
              <input required type="text" class="validate" id="addressPartner" formControlName="addressPartner">
              <!-- <div class="messageError">
                  <sup>*</sup>Champ obligatoire
              </div> -->
            </div>
          </div>

        <div class="input-field d-flex flex-row mb">
          <div class="input-field col-6">
            <label for="phonePartner">Téléphone</label>
            <input required type="text" class="validate" id="phonePartner" formControlName="phonePartner">
            <!-- <div class="messageError">
                <sup>*</sup>Champ obligatoire
            </div> -->
          </div>
          <div class="input-field col-6">
            <label for="mailPartner">E-mail</label>
            <input required type="text" class="validate" id="mailPartner" formControlName="mailPartner">
            <!-- <div class="messageError">
                <sup>*</sup>Champ obligatoire
            </div> -->
          </div>
      </div>

      <div class="input-field d-flex flex-row mb height">
        <div class="input-field col-6">
          <label for="statusPartner">Status du partenaire</label>
          <div class="d-flex mt-radio">
            <p>
              <input name="statusPartner" type="radio" value="Partenaire" class="validate" id="statusPartner" formControlName="statusPartner">
              <label for="statusPartner">Partenaire</label>
            </p>
            <p>
              <input name="statusPartner" type="radio" value="Non partenaire" class="validate" id="statusPartner" formControlName="statusPartner">
              <label for="statusPartner">Non partenaire</label>
            </p>
          </div>
          <!-- <div class="messageError">
              <sup>*</sup>Champ obligatoire
          </div> -->
        </div>
        <div class="input-field col-6">
          <label for="typePartner">Type du partenaire</label>
          <select class="validate" id="typePartner" formControlName="typePartner" required>
            <option value="Selectionnez un type" disabled selected>Sélectionnez un type</option>
            <option value="Garage">Garage</option>
            <option value="Contrôle technique">Contrôle technique</option>
          </select>
          <!-- <div class="messageError">
              <sup>*</sup>Champ obligatoire
          </div> -->
        </div>
      </div>

      <div class="input-field d-flex flex-row mb">
        <div class="input-field col-6">
          <label for="nameBilling">Nom de la facturation</label>
          <input required type="text" class="validate" id="nameBilling" formControlName="nameBilling">
          <!-- <div class="messageError">
            <sup>*</sup>Champ obligatoire
          </div> -->
        </div>
        <div class="input-field col-6">
          <label for="siretPartner">Numéro siret</label>
          <input required type="text" class="validate" id="siretPartner" formControlName="siretPartner">
          <!-- <div class="messageError">
              <sup>*</sup>Champ obligatoire
          </div> -->
        </div>
      </div>

      <div class="input-field d-flex flex-row mb">
        <div class="input-field col-6">
          <label for="addressBilling">Adresse pour la facturation</label>
          <input required type="text" class="validate" id="addressBilling" formControlName="addressBilling">
          <!-- <div class="messageError">
            <sup>*</sup>Champ obligatoire
          </div> -->
        </div>
      </div>

      <div class="mt-5 mb-5 text-center">
        <button class="m-auto" id="btn" type="submit" [disabled]="partnerForm.invalid">Ajouter un partenaire</button>
      </div>
    </div>
  </form>
</div>
