<div class="container-fluid top mb-5">
  <h2 class="text-center">Récapitulatif de la commande</h2>
</div>
  <div class="container-fluid ml-5">
    <div class="row">
      <div class="col-4">
        <p><span>Nom :</span></p>
      </div>
      <div class="col-4">
        <p><span>Prénom :</span></p>
      </div>
      <div class="col-4">
        <p><span>Téléphone :</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p><span>Date de prise en charge :</span></p>
      </div>
      <div class="col-4">
        <p><span>Heure de prise en charge :</span></p>
      </div>
      <div class="col-4">
        <p><span>Adresse de prise en charge :</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p><span>Choix de la formule :</span></p>
      </div>
      <div class="col-4">
        <p><span>Nom du garage :</span></p>
      </div>
      <div class="col-4">
        <p><span>Adresse du garage :</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p><span>Date de restitution :</span></p>
      </div>
      <div class="col-4">
        <p><span>Heure de restitution :</span></p>
      </div>
      <div class="col-4">
        <p><span>Adresse de restitution :</span></p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-4">
        <p><span>Mail :</span></p>
      </div>
      <div class="col-4">
        <p><span>Téléphone :</span></p>
      </div>
      <div class="col-4">
        <p><span>Tarif :</span></p>
      </div>
    </div>
    <div class="row mt-5">
      <button class="m-auto" routerLink="">Paiement</button>
  </div>
  </div>
