<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
    <img src="../assets/images/logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item text-center" routerLinkActive="active">
              <a class="nav-link" routerLink="calendarMouttec">Disponibilité <br>Mouttec</a>
          </li>
          <li class="nav-item text-center m-auto" routerLinkActive="active">
            <a class="nav-link" routerLink="calendarPerso">Mes RDV</a>
        </li>
          <li class="nav-item m-auto" routerLinkActive="active">
              <a class="nav-link" routerLink="customer">Clients</a>
          </li>
          <li class="nav-item m-auto" routerLinkActive="active">
              <a class="nav-link" routerLink="monthlyBilling">Facture mensuelle</a>
          </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[1]">Mon Profil</a>
            </li>
          </ul>
      </div>
  </div>
</nav>
