<div class="row list-group list-group-flush d-flex flex-row">
  <form class="col-1 m-auto">
    <div class="input-field d-flex flex-row">
      <div class="input-field col-12">
        <input type="checkbox">
        <span></span>
      </div>
    </div>
  </form>
  <div class="col-7 d-flex flex-row">
      <div class="m-auto">
          <p class="m-auto p-2 info"><span>Plaque d'immatriculation : </span></p>
      </div>
      <div class="m-auto">
          <p class="m-auto p-2 info"><span>Marque : </span></p>
      </div>
      <div class="m-auto">
          <p class="m-auto p-2 info" ><span>Modèle : </span></p>
      </div>
  </div>
  <div class="col-4 d-flex flex-row">
      <div class="m-auto">
        <a [routerLink]="" class="mr-3 plus">Modifier</a>
      </div>
      <div class="m-auto">
        <a [routerLink]="" class="mr-3 plus">Supprimer</a>
      </div>
  </div>
</div>
