h3 {
  margin: 0 0 10px;
  font-family: 'Megante';
}
div {
  font-family: 'Megante';
}
pre {
  background-color: #f5f5f5;
  padding: 15px;
}

h2 {
  font-family: 'Quantify';
  color: #EF7B15;
}

.pt {
  padding-top: 30px;
}

div::first-letter, h3::first-letter  {
  text-transform: uppercase;
}

.buttonInversion {
  text-align: center;
  font-family: 'Megante';
  background-color: white;
  text-transform: uppercase;
  border-radius: 50px;
  border: #EF7B15 1px solid;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  transition: 0.3s ease;
  color: #EF7B15;
  margin-right: 5px;
}

.buttonInversion.active, .button {
  text-align: center;
  font-family: 'Megante';
  background-color: #EF7B15;
  text-transform: uppercase;
  border-radius: 50px;
  border: #EF7B15 1px solid;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  transition: 0.3s ease;
  color: white;
  margin-right: 5px;
}

.button:hover, .buttonInversion:hover {
  background-color: #EF7B15;
  border: #EF7B15 1px solid;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: white;
}

.button:active,
.button:focus,
.button:visited {
  background-color: #EF7B15;
  border: #EF7B15 1px solid;
}

.cal-week-view .cal-header.cal-today, .cal-month-view .cal-day-cell.cal-today {
  background-color: #ef7b156e;
}

.cal-day-badge
{
  background-color: #EF7B15!important;
}

.cal-week-view .cal-event{
  color: white;
  font-size: 16px;
  font-weight: bold;
}

button {
  font-family: 'Megante';
  background-color: #EF7B15;
  text-transform: uppercase;
  border-radius: 50px;
  border: #EF7B15 1px solid;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  transition: 0.3s ease;
  color: white;
}

button:hover {
  background-color: #EF7B15;
  border: #EF7B15 1px solid;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button:active,
button:focus,
button:visited {
  background-color: #EF7B15;
  border: #EF7B15 1px solid;
}
