<div class="row mt-5 mb-5 pt">
  <div class="text-center col-12">
      <h2>Mes RDV</h2>
      <button style="font-size: 15px;" routerLink="/addBooking">Ajouter un rendez-vous</button>
  </div>
</div>

    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="button"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            [excludeDays]="excludeDays"
          >
            Précédent
          </div>
          <div
            class="buttonInversion"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Aujourd'hui
          </div>
          <div
            class="button"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            [excludeDays]="excludeDays"
          >
            Suivant
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr':weekStartsOn:excludeDays }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="buttonInversion"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            Mensuelle
          </div>
          <div
            class="buttonInversion"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            Hebdommadaire
          </div>
          <div
            class="buttonInversion"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
          >
            Journalier
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="pb-5">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [locale]="locale"
          [excludeDays]="excludeDays"
          (dayClicked)="changeDay($event.day.date)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [excludeDays]="excludeDays"
          [locale]="locale"
          [dayStartHour]="7"
          [dayStartMinute]="00"
          [dayEndHour]="21"
          [dayEndMinute]="00"
          (dayHeaderClicked)="changeDay($event.day.date)"
          (eventClicked)="eventClicked($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [locale]="locale"
          [dayStartHour]="7"
          [dayStartMinute]="00"
          [dayEndHour]="21"
          [dayEndMinute]="00"
          (eventClicked)="eventClicked($event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>



