<div class="row list-group list-group-flush d-flex flex-row list-group-item">
  <div class="col-1 m-auto">
      <img src="../../../assets/images/profile.png">
  </div>
  <div class="col-7 d-flex flex-row">
    <div class="m-auto">
      <p class="m-auto p-2 info">Nom et prénom</p>
    </div>
    <div class="m-auto">
      <p class="m-auto p-2 info">{{ dateContract }}</p>
    </div>
  </div>
  <div class="col-4 d-flex flex-row">
    <div class="m-auto">
      <button style="font-size: 12px;">Voir l'état des lieux</button>
    </div>
  </div>
</div>
