<div class="row mt-5 mb-5 pt">
  <div class="text-center col-12">
    <h2>Liste des clients</h2>
  </div>
</div>

<div class="container pb-5">
  <app-customer *ngFor="let customer of customers; let i = index" [indexOfCustomer]="customer.idCustomer" [firstNameCustomer]="customer.firstNameCustomer" [lastNameCustomer]="customer.lastNameCustomer" [dateOfBirthdayCustomer]="customer.dateOfBirthdayCustomer" [phoneCustomer]="customer.phoneCustomer" [mailCustomer]="customer.mailCustomer" [password]="customer.password" [idPartner]="customer.idPartner" [dateCustomer]="customer.dateCustomer"></app-customer>
</div>
