<div class="row mt-5 mb-5 pt">
  <div class="text-center col-9">
      <h2>Rendez-vous {{firstNameCustomer }} {{ lastNameCustomer }}</h2>
  </div>
  <div class="text-right col-3">
      <button style="font-size: 12px; background-color: #b1b1b1; border: #b1b1b1;" class="btn-danger" routerLink="/booking">Retour au planning</button>
  </div>
</div>

<div class="container">
  <div class="row pb">
    <div class="text-center col-9">
        <h3> Information</h3>
    </div>
    <div class="text-right col-3">
        <button style="font-size: 20px;" class="btn-danger">Prise en charge</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6 colInfoLeft">
      <div class="m-auto">
        <p class="m-auto p-2 info"><span>Nom : </span>{{ firstNameCustomer }}</p>
      </div>
      <div class="m-auto">
        <p class="m-auto p-2 info"><span>Prénom : </span>{{ lastNameCustomer }}</p>
      </div>
      <div class="m-auto">
        <p class="m-auto p-2 info"><span>Téléphone : </span>{{ phoneCustomer }}</p>
      </div>
      <div class="m-auto">
        <p class="m-auto p-2 info"><span>E-mail : </span>{{ mailCustomer }}</p>
      </div>
    </div>
    <div class="col-6">
      <div class="m-auto">
        <p class="m-auto p-2 info"><span>Adresse de Prise en charge : </span>{{ addressForth }}</p>
      </div>
      <div class="m-auto">
        <p class="m-auto p-2 info"><span>Adresse du Partenaire : </span>{{ namePartner }}</p>
      </div>
      <div class="m-auto">
        <p class="m-auto p-2 info"><span>Date de prise en charge : </span>{{ day }}</p>
      </div>
      <div class="m-auto">
        <p class="m-auto p-2 info"><span>Heure de prise en charge : </span>{{ hours }}</p>
      </div>
    </div>
  </div>
</div>
