<div class="row mt-5 mb-5 pt">
  <div class="text-center col-9">
      <h2>Planning</h2>
  </div>
  <div class="text-right col-3">
    <button style="font-size: 15px;" routerLink="/addBooking">Ajouter un rendez-vous</button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-3 offset-1">
    <button style="font-size: 12px; background-color: #b1b1b1; border: #b1b1b1;" class="btn-danger" routerLink="/booking">Précédant</button>
  </div>
  <div class="col-3 offset-5">
    <button style="font-size: 12px; background-color: #b1b1b1; border: #b1b1b1;" class="btn-danger" routerLink="/calendar">Suivant</button>
  </div>
</div>


<div class="container pb-5">
  <div class="row">
    <app-booking-calendar class="col-2" *ngFor="let booking of bookings; let i = index" [indexOfBooking]="i" [idBooking]="booking.idBooking" [day]="booking.day" [hours]="booking.hours" [statusCalendar]="booking.statusCalendar" [statusBooking]="booking.statusBooking" [statusCar]="booking.statusCar" [firstNameCustomer]="booking.firstNameCustomer" [lastNameCustomer]="booking.lastNameCustomer" [phoneCustomer]="booking.phoneCustomer" [mailCustomer]="booking.mailCustomer" [dateOfBirthdayCustomer]="booking.dateOfBirthdayCustomer" [licensePlateCar]="booking.licensePlateCar" [brandCar]="booking.brandCar" [modelCar]="booking.modelCar" [motorizationCar]="booking.motorizationCar" [dateOfCirculation]="booking.dateOfCirculation" [addressForth]="booking.addressForth" [addressBack]="booking.addressBack" [namePartner]="booking.namePartner" [formulaBooking]="booking.formulaBooking"></app-booking-calendar>
  </div>
</div>
