<div class="row mt-5 mb-5">
    <div class="col-12 text-center">
        <h2>Ajouter un partenaire</h2>
    </div>
</div>

<div class="row">
    <form class="col-8 offset-2" [formGroup]="partnerForm" (ngSubmit)="onSubmitFormPartner()">
        <div class="row d-flex flex-column">
            <div class="input-field d-flex flex-row">
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="namePartner" formControlName="namePartner">
                    <label for="namePartner">Nom du partenaire</label>
                    <div class="messageError">
                        SVP entrez un nom
                    </div>
                </div>
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="numberAddressPartner" formControlName="numberAddressPartner">
                    <label for="numberAddressPartner">N° de voie</label>
                    <div class="messageError">
                        SVP entrez un numéro
                    </div>
                </div>
            </div>

            <div class="input-field d-flex flex-row">
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="typeAddressPartner" formControlName="typeAddressPartner">
                    <label for="typeAddressPartner">Type de voie</label>
                    <div class="messageError">
                        SVP entrez un type de voie
                    </div>
                </div>
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="nameAddressPartner" formControlName="nameAddressPartner">
                    <label for="nameAddressPartner">Nom de la voie</label>
                    <div class="messageError">
                        SVP entrez un nom
                    </div>
                </div>
            </div>
            <div class="input-field d-flex flex-row">
                <div class="input-field col-6">
                    <input type="text" class="validate" id="complementAddressPartner" formControlName="complementAddressPartner">
                    <label for="complementAddressPartner">Complément d'addresse</label>
                </div>
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="zipAddressPartner" formControlName="zipAddressPartner">
                    <label for="zipAddressPartner">Code postal</label>
                    <div class="messageError">
                        SVP entrez un code postal
                    </div>
                </div>
            </div>
            <div class="input-field d-flex flex-row">
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="cityAddressPartner" formControlName="cityAddressPartner">
                    <label for="cityAddressPartner">Ville</label>
                    <div class="messageError">
                        SVP entrez une ville
                    </div>
                </div>
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="phonePartner" formControlName="phonePartner">
                    <label for="phonePartner">Téléphone</label>
                    <div class="messageError">
                        SVP entrez un téléphone
                    </div>
                </div>
            </div>
            <div class="input-field d-flex flex-row">
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="statusPartner" formControlName="statusPartner">
                    <label for="statusPartner">Partenaire ou Non partenaire</label>
                    <div class="messageError">
                        SVP entrez un status
                    </div>
                </div>
                <div class="input-field col-6">
                    <input required type="text" class="validate" id="mailPartner" formControlName="mailPartner">
                    <label for="mailPartner">E-mail</label>
                    <div class="messageError">
                        SVP entrez un e-mail
                    </div>
                </div>
            </div>
            <div class="input-field d-flex flex-row">
              <div class="input-field col-6">
                  <input required type="text" class="validate" id="nameBilling" formControlName="nameBilling">
                  <label for="nameBilling">Nom pour la facture</label>
                  <div class="messageError">
                      SVP entrez un nom
                  </div>
              </div>
              <div class="input-field col-6">
                <input required type="text" class="validate" id="siretPartner" formControlName="siretPartner">
                <label for="siretPartner">Numéro de siret</label>
                <div class="messageError">
                    SVP entrez un siret
                </div>
              </div>
            </div>
            <div class="input-field d-flex flex-row">
              <div class="input-field col-6">
                  <input required type="text" class="validate" id="numeroAddressBilling" formControlName="numeroAddressBilling">
                  <label for="numeroAddressBilling">N° de voie pour la facture</label>
                  <div class="messageError">
                      SVP entrez un numéro
                  </div>
              </div>
              <div class="input-field col-6">
                <input required type="text" class="validate" id="typeAddressBilling" formControlName="typeAddressBilling">
                <label for="typeAddressBilling">Type de voie pour la facture</label>
                <div class="messageError">
                    SVP entrez un type de voie
                </div>
              </div>
            </div>
            <div class="input-field d-flex flex-row">
              <div class="input-field col-6">
                  <input required type="text" class="validate" id="nameAddressBilling" formControlName="nameAddressBilling">
                  <label for="nameAddressBilling">Nom de voie pour la facture</label>
                  <div class="messageError">
                      SVP entrez un nom
                  </div>
              </div>
              <div class="input-field col-6">
                <input type="text" class="validate" id="complementAddressBilling" formControlName="complementAddressBilling">
                <label for="complementAddressBilling">Complément d'adresse</label>
                <div class="messageError">
                    SVP entrez un complément d'adresse
                </div>
              </div>
            </div>
            <div class="input-field d-flex flex-row">
              <div class="input-field col-6">
                  <input required type="text" class="validate" id="zipAddressBilling" formControlName="zipAddressBilling">
                  <label for="zipAddressBilling">Code Postal pour la facture</label>
                  <div class="messageError">
                      SVP entrez un code postal
                  </div>
              </div>
              <div class="input-field col-6">
                <input type="text" class="validate" id="cityAddressBilling" formControlName="cityAddressBilling">
                <label for="cityAddressBilling">Ville pour la facture</label>
                <div class="messageError">
                    SVP entrez une ville
                </div>
              </div>
            </div>
            <button class="btn-primary m-auto" id="btn" type="submit" [disabled]="partnerForm.invalid">Ajouter un partenaire</button>
        </div>
    </form>
</div>
