<div class="row mt-5 mb-4 pt">
  <div class="text-center col-12">
      <h2>Mon profil</h2>
  </div>
</div>

<div class="row pb-5">
  <div class="col-4 colInfoLeft">
    <h3 class="text-center">Information de connexion</h3>
    <p class="m-auto p-2 info"><span>Identifiant de connexion : </span>{{ usernamePartner }}</p>
    <p class="m-auto p-2 info"><span>mot de passe : </span>{{ password }}</p>
    <p class="m-auto p-2 info"><span>Status : </span> {{ statusPartner }}</p>
    <p class="m-auto p-2 info"><span>Type du partenaire : </span> {{ typePartner }}</p>
  </div>
  <div class="col-4 colInfoLeft">
    <h3 class="text-center">Information d'usage</h3>
    <p class="m-auto p-2 info"><span>Nom du partenaire : </span>{{ namePartner }}</p>
    <p class="m-auto p-2 info"><span>Adresse mail : </span> {{ mailPartner }}</p>
    <p class="m-auto p-2 info"><span>Téléphone : </span> {{ phonePartner }}</p>
    <p class="m-auto p-2 info"><span>Adresse : </span> {{ addressPartner }}</p>
  </div>
  <div class="col-4 colInfoLeft">
    <h3 class="text-center" >Information de facturation</h3>
    <p class="m-auto p-2 info"><span>Nom de facturation : </span> {{ nameBilling }}</p>
    <p class="m-auto p-2 info"><span>Numéro de siret : </span> {{ siretPartner }}</p>
    <p class="m-auto p-2 info"><span>Adresse de facturation : </span>{{ addressBilling }}</p>
  </div>
</div>
