<div class="row mt-5 mb-5">
  <div class="text-center col-9">
      <h2>Liste des clients</h2>
  </div>
  <div class="text-right col-3">
      <button style="font-size: 15px;" routerLink="/addPartner">Ajouter un partenaire</button>
  </div>
</div>

<div class="container">
  <app-customer *ngFor="let customer of customers; let i = index" [IndexOfCustomer]="i"
  [idCustomer]="customer.idCustomer"
  [firstNameCustomer]="customer.firstNameCustomer"
  [lastNameCustomer]="customer.lastNameCustomer"
  [addressTakingCareCustomer]="customer.addressTakingCareCustomer"
  [zipTakingCareCustomer]="customer.zipTakingCareCustomer"
  [cityTakingCareCustomer]="customer.cityTakingCareCustomer"
  [phoneCustomer]="customer.phoneCustomer"
  [mailCustomer]="customer.mailCustomer"
  [passwordCustomer]="customer.passwordCustomer"
  [addressReturnCustomer]="customer.addressReturnCustomer"
  [zipReturnCustomer]="customer.zipReturnCustomer"
  [cityReturnCustomer]="customer.cityReturnCustomer"
  [partnerFavoriteCustomer]="customer.partnerFavoriteCustomer"
  [dateCustomer]="customer.dateCustomer">
  </app-customer>
</div>
