<div class="row list-group list-group-flush d-flex flex-row" [ngClass]="{'list-group-item': true, 'success': statusManager === 'Partenaire', 'failure': statusManager === 'Non partenaire'}" [ngStyle]="{ opacity: getOpacityManager() }">
    <div class="col-1 m-auto">
        <img src="../../assets/images/profile.png">
    </div>
    <div class="col-7 d-flex flex-row">
        <div class="m-auto">
            <p class="m-auto p-2 info" [ngStyle]="{ color: getColorManager() }"><span>Prénom : </span>{{ lastNameManager }}</p>
        </div>
        <div class="m-auto">
            <p class="m-auto p-2 info" [ngStyle]="{ color: getColorManager() }"><span>Identifiant : </span>{{ usernameManager }}</p>
        </div>
        <div class="m-auto">
            <p class="m-auto p-2 info" [ngStyle]="{ color: getColorManager() }"><span>Mot de passe : </span>{{ passwordManager }}</p>
        </div>
    </div>
    <div class="col-4 d-flex flex-row">
        <div class="m-auto">
            <a [routerLink]="[idManager]" class="mr-3 plus" *ngIf="statusManager === 'Activer'">Détails</a>
        </div>
        <div class="m-auto">
            <button style="font-size: 12px;" (click)="onSwitchManager()" *ngIf="statusManager === 'Désactiver'">Activer</button>
        </div>
        <div class="m-auto">
            <button style="font-size: 12px; background-color: #b1b1b1; border: #b1b1b1;" (click)="onSwitchNoManager()" *ngIf="statusManager === 'Activer'">Désactiver</button>
        </div>
        <div class="m-auto">
            <button style="font-size: 12px;" (click)="onDeleteManager(idManager)">Supprimer</button>
        </div>
    </div>
</div>