<div class="row list-group list-group-flush d-flex flex-row">
  <div class="col-2 m-auto">
      <img src="../../../assets/images/garage.png">
  </div>
  <div class="col-7">
      <div class="m-auto">
          <p class="m-auto p-2 info" ><span>Nom du garage : </span></p>
      </div>
      <div class="m-auto">
          <p class="m-auto p-2 info"><span>Adresse : </span></p>
      </div>
      <div class="m-auto">
          <p class="m-auto p-2 info" ><span>Téléphone: </span></p>
      </div>
  </div>
  <div class="col-3 d-flex flex-column">
      <div class="m-auto">
          <a [routerLink]="" class="mr-3 plus">Détails</a>
      </div>
      <div class="m-auto">
          <button style="font-size: 12px;" routerLink="../twoReturn">Sélectionner</button>
      </div>
  </div>
</div>
