<div class="bgWhite p-3 d-flex flex-column">
  <h2>Choisissez la formule qui vous convient le mieux </h2>
  <ul class="m-auto">
    <li>
      <button routerLink="selectPartner">Conciergerie aller ou retour à partir de 39,90€</button>
    </li>
    <li>
      <button routerLink="selectPartner">Conciergerie aller/retour à partir de 69,90€</button>
    </li>
    <li>
      <button routerLink="technicalControl">Conciergerie + contrôle technique à partir de 119,90€</button>
    </li>
  </ul>
</div>
