<div class="container-fluid p-0">
  <div class="row">
      <div class="col-12">
          <h2 class="mt-5 text-center">Mon Compte</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-6 separation">
          <h3>Mes informations</h3>
          <ul class="list-group">
              <li class="list-group-item">Nom: Toto</li>
              <li class="list-group-item">Prénom: Toto</li>
              <li class="list-group-item">Email: toto@gmail.com</li>
              <li class="list-group-item">Téléphone: 06.00.00.00.00</li>
              <li class="list-group-item">Adresse de préférence: 61b boulevard bonnes grâces 13003 Marseille</li>
              <li class="list-group-item">Garage habituelle: Midas la valentine</li>
          </ul>
      </div>
      <div class="col-6">
          <h3>Historique réservation</h3>
      </div>
  </div>
</div>
