<div class="row mt-5 mb-5">
    <div class="text-center col-9">
        <h2>Liste des voituriers</h2>
    </div>
    <div class="text-right col-3">
        <button style="font-size: 15px;" routerLink="/addManager">Ajouter un voiturier</button>
    </div>
</div>

<div class="container">
    <app-manager *ngFor="let manager of managers; let i = index" [IndexOfManager]="i" [idManager]="manager.idManager" [firstNameManager]="manager.firstNameManager" [lastNameManager]="manager.lastNameManager" [usernameManager]="manager.usernameManager" [mailManager]="manager.mailManager"
        [phoneManager]="manager.phoneManager" [passwordManager]="manager.passwordManager" [statusManager]="manager.statusManager" [dateManager]="manager.dateManager">
    </app-manager>
</div>