<div class="row mt-5 mb-4 pt">
  <div class="text-center col-12">
      <h2>Mon profil</h2>
  </div>
</div>

<div class="row pb pb-5">
  <div class="col-12">
    <h3 class="text-center">Information</h3>
    <div class="row mt-4">
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Nom du partenaire : </span>{{ namePartner }}</p>
        </div>
      </div>
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Identifiant de connexion : </span>{{ usernamePartner }}</p>
        </div>
      </div>
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Mot de passe : </span> {{ password }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Adresse mail : </span> {{ mailPartner }}</p>
        </div>
      </div>
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Téléphone : </span> {{ phonePartner }}</p>
        </div>
      </div>
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Adresse : </span> {{ addressPartner }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Status : </span> {{ statusPartner }}</p>
        </div>
      </div>
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Type du partenaire : </span> {{ typePartner }}</p>
        </div>
      </div>
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Nom de facturation : </span> {{ nameBilling }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Numéro de siret : </span> {{ siretPartner }}</p>
        </div>
      </div>
      <div class="col-4">
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Adresse de facturation : </span>{{ addressBilling }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
