<div class="row mt-5 mb-5 pt">
  <div class="text-center col-9">
      <h2>Mon profil</h2>
  </div>
  <div class="text-right col-3">
    <button style="font-size: 12px;" class="btn-danger" routerLink="/">Modifier mon profil</button>
</div>
</div>

<div class="row pb">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="m-auto col-6">
            <p class="m-auto p-2 info"><span>Nom : </span></p>
          </div>
          <div class="m-auto col-6">
            <p class="m-auto p-2 info"><span>Prénom : </span></p>
          </div>
        </div>
        <div class="row">
          <div class="m-auto col-6">
            <p class="m-auto p-2 info"><span>Téléphone : </span></p>
          </div>
          <div class="m-auto col-6">
            <p class="m-auto p-2 info"><span>E-Mail : </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
