<nav class="container-fluid navbar navbar-expand-lg navbar-light w-100 p-0">
    <a class="navbar-brand nav-link m-0 p-0" routerLink="">
      <img class="img w-75" src="../assets/images/logo2.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li routerLinkActive="active" class="nav-item active">
              <a routerLink="" class="nav-link">Accueil</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
              <a routerLink="garage-list" class="nav-link">Grille tarifaire</a>
          </li>
          <!-- <li routerLinkActive="active" class="nav-item">
              <a routerLink="loan" class="nav-link">Prêt Automobile</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
              <a routerLink="professional" class="nav-link">Contact Professionnel</a>
          </li> -->
      </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li routerLinkActive="active" class="nav-item">
              <a routerLink="auth" class="nav-link">
                  <img src="../assets/images/man.png" alt="">
              </a>
          </li>
          <!-- <li class="nav-item m-auto">
              <a style="cursor:pointer">Déconnexion</a>
          </li> -->
          <li class="nav-item">
              <a class="nav-link">
                  <img src="../assets/images/facebook.png" alt="">
              </a>
          </li>
      </ul>
  </div>
</nav>
