<div class="row list-group list-group-flush d-flex flex-row" [ngClass]="{'list-group-item': true, 'success': statusPartner === 'Partenaire', 'failure': statusPartner === 'Non partenaire'}" [ngStyle]="{ opacity: getOpacityPartner() }">
    <div class="col-1 m-auto">
        <img src="../../assets/images/profile.png">
    </div>
    <div class="col-7">
        <div class="m-auto">
            <p class="m-auto p-2 info" [ngStyle]="{ color: getColorPartner() }"><span>Nom du garage : </span>{{ namePartner }}</p>
        </div>
        <div class="m-auto">
            <p class="m-auto p-2 info" [ngStyle]="{ color: getColorPartner() }"><span>Adresse : </span>{{ numberAddressPartner }} {{ typeAddressPartner }} {{ nameAddressPartner }} {{ complementAddressPartner }} {{ zipAddressPartner }} {{ cityAddressPartner }}</p>
        </div>
        <div class="m-auto">
            <p class="m-auto p-2 info" [ngStyle]="{ color: getColorPartner() }"><span>Téléphone: </span>{{ phonePartner }}</p>
        </div>
    </div>
    <div class="col-4 d-flex flex-column">
        <div class="m-auto">
            <a [routerLink]="[idPartner]" class="mr-3 plus" *ngIf="statusPartner === 'Partenaire'">Détails</a>
        </div>
        <div class="m-auto">
            <button style="font-size: 12px;" (click)="onSwitchPartner()" *ngIf="statusPartner === 'Non partenaire'">Partenaire</button>
        </div>
        <div class="m-auto">
            <button style="font-size: 12px; background-color: #b1b1b1; border: #b1b1b1;" (click)="onSwitchNoPartner()" *ngIf="statusPartner === 'Partenaire'">Non partenaire</button>
        </div>
        <div class="m-auto">
            <button style="font-size: 12px;" *ngIf="statusPartner === 'Partenaire'">Supprimer</button>
        </div>
    </div>
</div>
