button {
  font-family: 'Megante';
  background-color: #EF7B15;
  text-transform: uppercase;
  border-radius: 50px;
  border: #EF7B15 1px solid;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  transition: 0.3s ease;
  color: white;
}

button:hover {
  background-color: #EF7B15;
  border: #EF7B15 1px solid;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button:active,
button:focus,
button:visited {
  background-color: #EF7B15;
  border: #EF7B15 1px solid;
}

h2 {
  font-family: 'Quantify';
  color: #EF7B15;
}
.pt {
  padding-top: 30px;
}

p, a, button, h3 {
  font-family: 'Megante';
}

span {
  color: #6a6a6a;
}

.pb {
  padding-bottom: 30px;
}

.colInfoLeft {
  border-right: solid 2px #a7a7a7;
}
